<div class="container">
  <section>
    <h1 class="text-center mt-4">Productos</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h1 class="card-text">$ 23990</h1>
            <img src="https://www.venex.com.ar/products_images/1714397020_sssd-1.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-text">DISCO SOLIDO SSD 240GB ADATA SATA III SU630</h5>
            <p class="card-text">Descripción
              -Capacidad: 240GB
              -Factor de forma: 2.5"
              -NAND: Flash 3D NAND 
              -Dimensiones (L x An x Al): 100,45 x 69,85 x 7mm
              -Peso: 59,5g 
              -Interfaz: SATA 6Gb/s
              -Temperatura de operación:  0°C - 70°C
              -Temperatura de almacenamiento: -40°C - 85°C
              -Resistencia a golpes: 1500G / 0,5ms
              -MTBF: 2.000.000 horas</p>
          </div>
          <div class="card-footer text-center">
            <a href="#" class="btn btn-primary">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
  </section>